img {
  max-width: 100%;
}

.App {
  display: flex;
  height: 50%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1;
  position: relative;
  flex-basis: 350px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  width: 100%;
  transition: .5s cubic-bezier(0.13, 2.05, 0.93, 1.07);
  text-emphasis-color: rgb(26, 17, 17);
}

.item:hover .overlay {
  height: 90px;
}

.text {
  font-size: 26px;
  color: white;
  text-align: center;
  padding: 10px;
  border: 10px;
  margin: 10px;
  flex-wrap: wrap;
}